<!DOCTYPE html>
<html>
  <head>
    <title>ReactMsg</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  </head>

  <body>
    <div class="container segment">
      <div class="ui three item menu">
        <h1 class="ui header">Messages</h1>
      </div>
      <div class="ui container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>